.header__logo {
    background: url('./images/logo.png') no-repeat 1.7%;
    height: 75%;
    flex-basis: 24.193548387vw;
    align-self: center;
    background-size: contain;
    margin: -0.2rem 0 0.9rem 1.25vw;
}

.header__modal-menu {
    text-transform: uppercase;
    align-self: flex-end;
    color: white;
    box-sizing: border-box;
    position: relative;
    padding-right: 1.5%;
    border: none;
    outline: none;
    background-color: #353436;
    font-size: 0.666rem;
    letter-spacing: 0.05em;
}

.header__modal-menu::after {
    background: url("./images/lock.png") no-repeat;
    position: absolute;
    right: 0;
    height: 100%;
    background-size: contain;
    content: "";
    width: 10%;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0.55vh 3vw 0 20px;
}

.header__main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.header__menu-item {
    text-decoration: none;
    color: white;
    outline: none;
    padding: 0 0.777rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header__menu-item:first-child {
    padding-left: 0;
}

.header__menu-item:last-child {
    padding-right: 0;
}

.active {
    color: #e2d1a6;
    font-weight: 700;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 2;
    justify-content: flex-end;
    flex-shrink: 2;
}

.dropdown__title {
    font-size: 0.97em;
}