.locale-list {
    list-style: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locale {
    line-height: 24px;
    flex-grow: 1;
    text-align: center;
    border-left: 0.75px solid #fff;
    cursor: pointer;
}

.locale:first-child {
    border: none;
}