.footer {
    display: flex;
    flex-direction: column;
    color: white;
    flex-basis: 25.35%;
}

.footer__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paragraph {
    flex-basis: 15%;
    margin-right: 50px;
}

.footer__subscribe-form {
    flex-basis: 15%;
    justify-content: space-between;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__main {
    flex-grow: 1;
}

.footer__bottom {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact {
    flex-basis: 58.33%;
}

.social-list {
    flex-basis: 70px;
}

.locale-list {
    flex-basis: 13.33%;
}