.footer__subscribe-button {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
}

.footer__form-field-wrapper {
    flex-basis: 56%;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}