.footer__subscribe-button {

}

.footer__form-field-wrapper {
    flex-basis: 56%;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__form-field {
    width: inherit;
}

.form__button {
    width: 100%;
    padding: 0.1em 0 0.2em;
    font-size: 0.99rem;
    box-sizing: border-box;
    text-transform: uppercase;
    border: none;
    height: 1.7rem;
}