.dropdown__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -1rem;
    z-index: 2;
    background: #343536;
    padding: 0.7vw 0.8vw 0.7vw 1.1vw;
}

.dropdown {
    position: relative;
    line-height: 1.33;
    height: 100%;
}

.dropdown__title {
    text-transform: uppercase;
    cursor: pointer;
    top: 82%;
    position: relative;
    transform: translateY(-100%);
}

.dropdown__options_hidden {
    display: none;
}

.dropdown__option {
    text-transform: uppercase;
    border-bottom: 0.75px solid #ffffff;
    font-size: 1.29032258065vw;
    color: #fffefe;
    margin-bottom: 0.4rem;
}

.dropdown__option:last-child {
    border: none;
    margin-bottom: 0.2rem;
}

.dropdown__option:hover {
    color: #e2d1a6;
}