.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph__text {
    margin: 0;
    font-size: 12px;
    line-height: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.paragraph__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: "Playfair Display", serif;
}