.footer__subscribe-button {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    width: 100%;
}

.footer__full-name {

}

.footer__e-mail {

}

.footer__agreement-checkbox {
    width: 8px;
    height: 8px;
}

.footer__form-field-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 56%;
    justify-content: space-between;
}