.facebook {
    background: url("./icons/social.png") 0 -19px;
    width: 18px;
}

.instagram {
    background: url("./icons/social.png") -7px 0;
    width: 19px;
}

.pinterest {
    background: url("./icons/social.png") -19px -19px;
    width: 13px;
}

.social-link {
    height: 100%;
    border: none;
    padding: 0;
    vertical-align: top;
    cursor: pointer;
}

.social-list {
    display: flex;
    list-style: none;
    margin: 0;
    height: 18px;
    padding: 0;
    justify-content: space-between;
}