.submit-button {
    background: #e2d1a6;
    color: #ffffff;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.submit-button:disabled {
    background: #000000;
}